.fieldContainer {
    padding: 10px;
}

.label {
    display: block;
    padding: 5px 0;
}

.input {
    display:block;
    background: white;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 3px;
}

.buttonGroup {
    display: flex;
    justify-content:space-between;
}

.button {
    border-radius: 3px;
    border: 1px solid gainsboro;
    background: white;
    padding: 5px 20px;
}

.button:hover {
    background: whitesmoke;
    border-color: lightgray;
}

.button:active {
    background: gainsboro;
    border-color: gray;
}

.select {
    background: white;
    padding: 10px;
    border: 1px solid gainsboro;
}
