.outerItem {
    border-radius: 3px;
    background: white;
    cursor: pointer;
    transition: color 1000ms, background 1000ms;
    user-select: none;
    flex-grow: 1;
    margin: 3px;
}

.outerItem:hover {
    background: black;
    color: white;
    transition: color 0ms, background 0ms;
}

.outerItem:active {
    background: white;
    color: black;
}

.innerItem {
    margin: auto;
}

.property {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.propertyName {
}

.propertyValue {
}

.currentQuantity {
}

.quantitySeparator {
}

.targetQuantity {
}
