.list {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 450px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
}

.itemContainer:hover {
    background:whitesmoke;
}

.itemContainer:active {
    background:gainsboro;
}

.propertyContainer {
    display: flex;
    justify-content: space-between;
    padding: 4px 4px;
}
