.list {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 0;
    width: 450px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 10px 20px;
    padding: 10px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

.itemContainer:hover {
    background: gainsboro;
    border: 1px solid darkgray;
}

.propertyContainer {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    margin: 1px 0;
}
