.itemList {
    display: flex;
    flex-flow: column nowrap;
}

.category {
}

.categorySeparator {
    border: 1px solid black;
    margin: 10px 3px;
}

.categoryHeader {
    font-size: 20px;
    margin: 0 3px;
}

.itemGroup {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
}

.item {
    margin: 3px;
    flex-grow: 1;
    flex-basis: 1;
}

.innerItem {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.property {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2px 0;
}

.propertyName {
}

.propertyValue {
}

.currentQuantity {
}

.quantitySeparator {
}

.targetQuantity {
}
