.fieldContainer {
    padding: 5px;
}

.label {
    display: block;
    padding-bottom: 5px;
}

.input {
    display: block;
    background: white;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 3px;
}

.buttonGroup {
    display: flex;
    flex-flow: row wrap;
}

.button {
    border-radius: 3px;
    border: 1px solid gainsboro;
    background: white;
    padding: 5px 20px;
}

.button:hover {
    background: whitesmoke;
}

.button:active {
    background: gainsboro;
}

.select {
    background: white;
    padding: 10px;
    border: 1px solid gainsboro;
}
